.home-tab {
  text-decoration: none;
  color: azure;
  font-size: 25px;
  margin-left: none;
  padding-left: none;
  /* font-weight: bold; */
  /* text-decoration: underline; */
}

.header-color {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.drawer-color {
  background:black; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.selfie {
  width: 80%;
  padding-top: 7em;
}

/* .banner-text{
  background-color: black;
  opacity: 0.8;
  margin: auto;
  border-radius: 10px;
} */

.banner-text h1 {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.intro-text p {
  padding-top: 0em;
  font-size: 20px;
  color: black;
  opacity: 0.8;
}

.grid-1 {
  padding-left: 5%;
}

.link-style {
  color: blue;
}

.social-links {
  display: flex;
  justify-content: space-start;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding-bottom: 50%;
  padding-right: 25px;
}

.card {
  width: 60%;
}
