.home-tab{
  text-decoration: none;
    color: azure ;
  font-size: 30px;
  /* font-weight: bold; */
  /* text-decoration: underline; */
}


.header-color{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.landing-grid{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.selfie{
  height: 250px;
  padding-top: 3em;
}

/* .banner-text{
  background-color: black;
  opacity: 0.8;
  margin: auto;
  border-radius: 10px;
} */

.banner-text h1{
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.intro-text p{
  padding-top: 0em  ;
  font-size: 20px ;
  color: black;
  opacity: 0.8;
}