.home-tab {
  text-decoration: none;
  color: azure;
  font-size: 1.2vmax;
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
  left: -50px;
}

.header-link{
  position: relative;
  top: 10px;
  left: 0px;
}


.header-link p {
  font-size: 1vmax;
}

.header-color {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.drawer-color {
  background: black; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.selfie {
  width: 80%;
  padding-top: 6em;
}

/* .banner-text{
  background-color: black;
  opacity: 0.8;
  margin: auto;
  border-radius: 10px;
} */

.banner-text h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 20px 0px 20px 0px;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -2px;
  font-weight: bold;
}

.intro-text p {
  font-family:Georgia,serif;
  padding-top: 0em;
  font-size: 20px;
  color: black;
  opacity: 0.8;
}

.grid-1 {
  padding-left: 5%;
}

.link-style {
  color: blue;
}

.social-links {
  display: flex;
  justify-content: space-start;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding-bottom: 50%;
  padding-right: 25px;
}

.card {
  width: 100%;
}

.card-title {
  color: black;
  font-size: calc(0.5em + 0.8vw);
  margin: none;
  padding: none;
}

.card-text {
  color: grey;
  font-size: calc(0.5em + 0.5vw);
  margin: none;
  padding: none;
}
